/target/
*.settings/*
*.svn/*
.svn
.svn/
.project
.classpath
*.iml
.idea/*
/bin/
/build/
slw-memcached.properties
proxool.xml
proxool_dict.xml
proxool_hlwlog.xml
proxool_log.xml
proxool_message.xml
proxool_msg.xml
slw-sso.properties