<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpringBoot!!!</title>
</head>
<body>
    <form role="form" action = "/loginIn" method="post">
        编码：<input type="text" id="name" name = "name" placeholder="请输入您的编号" maxlength="10" > <br>
        <!--密码：<input type="password" id = "password" name = "password"> <br>-->
        <button type="submit" id = "loginIn" value="登录"></button>
        <input type="submit" id = "login" value = "登录">
    </form>
</body>
</html>