<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.css.demo.mapper.CePingMapper">

    <select id="getInfo" parameterType="String" resultType="com.css.demo.bean.CePingBean">
        SELECT * FROM account
    </select>

    <select id="selectBeanByUuid" parameterType="String" resultType="com.css.demo.bean.CePingBean">
        SELECT * FROM account where uuid = #{uuid}
    </select>

</mapper>