<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.css.demo.mapper.ContentDesignMapper">
    <resultMap id="ContentDesignBean" type="com.css.demo.bean.ContentDesignBean">
        <id column="UUID" property="" jdbcType="VARCHAR"/>
        <result column="UUID" property="uuid" jdbcType="VARCHAR"/>
        <result column="SCENE" property="scene" jdbcType="VARCHAR"/>
        <result column="TITLE" property="title" jdbcType="VARCHAR"/>
        <result column="CONTENTTYPE" property="contentType" jdbcType="VARCHAR"/>
        <result column="CONTENTS" property="contents" jdbcType="VARCHAR"/>
        <result column="IMAGES" property="images" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="selectObjByUUid" parameterType="String" resultType="com.css.demo.bean.ContentDesignBean">
        SELECT * FROM CONTENT_DESIGN WHERE UUID = #{uuid}
    </select>

    <select id="selectAllByScenetest" parameterType="String" resultType="com.css.demo.bean.ContentDesignBean">
        SELECT * FROM CONTENT_DESIGN WHERE SCENE = #{scene}
    </select>


    <select id="selectAllByScene" parameterType="String" resultType="hashmap">
        SELECT * FROM CONTENT_DESIGN WHERE SCENE = #{scene}
    </select>

    <select id="selectAllInvitationByScene" parameterType="String" resultType="hashmap">
        SELECT * FROM CONTENT_DESIGN WHERE SCENE = #{scene} AND CONTENTTYPE = '3'
    </select>


</mapper>