<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.css.demo.mapper.LogsBeanMapper">




    <select id="selectLogsByUserId" parameterType="String" resultType="com.css.demo.bean.LogsBean">
        select * from logs where user_Uuid = #{userUuid} order by create_time desc
    </select>

    <select id="selectLogsByUserIdAndCheckContentId" parameterType="String" resultType="com.css.demo.bean.LogsBean">
        select * from logs where user_Uuid = #{userUuid} and CHECK_CONTENT_ID = #{checkContentId} order by create_time desc
    </select>


</mapper>